/* --------------------------------------------------------------
Defaults
-------------------------------------------------------------- */

body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  @include font-size($base-font-size);
  line-height: $base-line-height;
}

/* Typography
--------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  font-weight: normal;
}

h1 {
  @include font-size($h1-font-size);
}

h2 {
  @include font-size($h2-font-size);
}

h3 {
  @include font-size($h3-font-size);
}

h4 {
  @include font-size($h4-font-size);
}

h5 {
  @include font-size($h5-font-size);
}

h6 {
  @include font-size($h6-font-size);
}

p {
  margin: 0 0 $small-spacing;
}
