/* Entries
--------------------------------------- */
.sticky {
  display: block;
}

.entry {
  margin: 0 0 $content-spacing;
  padding: $content-spacing-half;
  background-color: $alt-background-color;
  border: $base-border;
  word-wrap: break-word;

  @include breakpoint(medium) {
    padding: $content-spacing;
  }
}

.entry-meta {
  @include font-size(16);
  margin-bottom: $base-spacing;

  .entry-footer & {
    padding-top: $content-spacing-half;
    margin-bottom: 0;
  }
}

.byline,
.updated:not(.published){
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.edit-link {
  display: block;

  .entry-footer & {
    margin-top: $base-spacing / 2;
  }

  a {
    background: $action-color;
    border-radius: $base-border-radius;
    color: #fff;
    @include font-size(14);
    text-transform: uppercase;
    letter-spacing: .05em;
    padding: 5px 8px;

    &:hover {
      color: #fff;
      background: shade($action-color, 25%);
    }
  }
}

.entry-title {
  margin-bottom: $content-spacing-half;
}

.page-content,
.entry-content,
.entry-summary {
}

.entry-content {

  ul {
    @extend %default-ul;

    ul {
      margin-bottom: 0;
    }
  }

  ol {
    @extend %default-ol;

    ol {
      margin-bottom: 0;
    }
  }
}

.page-links {
  clear: both;
  margin: 0 0 $base-spacing;
}

.entry-footer {
  border-top: $base-border;

  .entry-terms {
    @include font-size(16);
    display: block;
  }
}

.avatar {
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  width: 4em;
  vertical-align: top;

  @include breakpoint(small) {
    float: left;
    margin-right: $content-spacing-half;
    margin-bottom: $content-spacing-half;
  }
}

/* Asides
--------------------------------------- */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}
