.navigation {
  clear: both;
  line-height: 1;
  width: 100%;

  .menu-item {
    display: inline-block;
    @include font-size(16);
    position: relative;

    a {
      display: block;
      padding: 20px 15px;
    }

  }

  a:hover,
  a:focus,
  .current-menu-item a,
  .current-menu-ancestor a,
  .current-menu-parent a {
    color: $hover-link-color;
  }

  .sub-menu {

    @include media($small-screen-up) {
      left: -999em;
      z-index: 99;
      position: absolute;
      width: 200px;
      opacity: 0;

      a {
        background-color: #fff;
        border: 1px solid #eee;
        border-top: none;
        color: $dark-gray;
        padding: 20px;
        width: 200px;
        position: relative;
      }

      .current-menu-item {
        a:hover,
        a:focus {
          color: $base-link-color;
        }
      }

      .sub-menu {
        margin: -57px 0 0 199px;
      }
    }
  }

  @include media($small-screen-up) {
    .menu-item:hover,
    .menu-item-hover,
    .menu-item:focus {
      position: static;
    }

    .menu-item:hover > .sub-menu,
    .menu-item-hover > .sub-menu,
    .menu-item:focus > .sub-menu {
      left: auto;
      opacity: 1;
      padding: 0;
    }
  }
}

/* Main Navigation
--------------------------------------- */
.main-navigation {
  clear: both;
  display: none;
  background: $nav-background-color;

  @include media($small-screen-up) {
    display: block;
  }

  .menu-item {
    display: block;
  
    @include media($small-screen-up) {
      display: inline-block;
    }
  }

  a {
    color: #fff;
  }

  a:hover,
  a:focus,
  .current-menu-item a,
  .current-menu-ancestor a,
  .current-menu-parent a {
    color: $main-nav-link-color;
  }

  .sub-menu {
    padding-left: 20px;
  }
}

/* Subsidiary Navigation
--------------------------------------- */
.subsidiary-navigation {

  a:hover,
  a:focus {
    color: $hover-link-color;
  }
}

/* Mobile Navigation
--------------------------------------- */
.menu-toggle {
  display: block;
  float: right;
  line-height: 1;
  padding-top: 20px;

  i {
    margin-right: 5px;
  }

  @include media($small-screen-up) {
    display: none;
  }
}

.breadcrumb-trail {
  margin-bottom: $content-spacing-half;
  word-wrap: break-word;
}
