/* Pagination
--------------------------------------- */
.pagination {
  margin: 0 0 $content-spacing;

  .page-numbers {
    background: $dark-gray;
    padding: 10px 12px;
    color: #fff;

    &:hover {
      color: #fff;
    }
  }

  .current {
    background: $base-link-color;
  }

  a {
    color: #fff;

    &:hover,
    &:focus {
      background: $base-link-color;
    }
  }
}

/* Post Navigation
--------------------------------------- */
.posts-navigation,
.post-navigation {
  word-wrap: break-word;
  
  .site-main & {
    margin: 0 0 $base-spacing;
    overflow: hidden;
  }

  & .nav-previous {
    float: left;
    width: 50%;
  }

  & .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}

.post-navigation {
  line-height: $base-line-height; 
}

.comments-nav {
  padding-top: $content-spacing;
  
  a,
  .page-numbers {
    display: inline-block;
    width: 32%;
    text-align: center;
  }
}