.sidebar {
  @include font-size(16);

  li {
    border-bottom: $base-border;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  p:last-child,
  ul > li:last-child {
    margin-bottom: 0;
  }

  .widget {
    background-color: #fff;
    border: $base-border;
    padding: $content-spacing / 2;

    @include media($small-screen-up) {
      padding: 40px;
    }
  }
}