#{$all-button-inputs},
.button {
  -webkit-font-smoothing: antialiased;
  @include appearance(none);
  background-color: $base-button-color;
  border-radius: $base-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  @include font-size($base-font-size);
  font-family: $base-font-family;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: $hover-button-color;
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
