a {
  color: $action-color;
  text-decoration: none;
  transition: $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  height: auto;
  margin: 0;
  max-width: 100%;
}

figure {
  margin: 0;
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-spacing 0;
  padding-left: $small-spacing;
}

cite {
  color: lighten($base-font-color, 25);

  &:before {
    content: "\2014 \00A0";
  }
}

cite,
em,
i {
  font-style: italic;
}

address {
  margin: 0 0 $base-spacing;
}

pre {
  background: $pre-background-color;
  font-family: $pre-font-family;
  @include font-size(15);
  line-height: $base-line-height;
  margin: 0 0 $base-spacing;
  max-width: 100%;
  padding: 1.5em;
}

code,
kbd,
tt,
var {
  @include font-size(15);
  font-family: $code-font-family;
}

abbr,
acronym {
  border-bottom: 1px dotted $abbr-border-color;
  cursor: help;
}

mark,
ins {
  background: $ins-background-color;
  text-decoration: none;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}
