// Mixins

// Rem output with px fallback
@mixin font-size($sizeValue: 16) {
  font-size: $sizeValue + px;
  font-size: rem($sizeValue);
}

// Border radius
@mixin border-radius($radius) {
  background-clip: padding-box;
  border-radius: $radius;
}

// Center block
@mixin center-block {
  display: block;
  margin: 0 auto;
}

// Clearfix mixin
@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

// Breakpoint mixin
@mixin breakpoint($name) {
  @if not map-has-key($breakpoints, $name) {
    @warn "Warning: `#{$name}` is not a valid breakpoint name.";
  } @else {
    @media (min-width: map-get($breakpoints, $name)) {
      @content;
    }
  }
}

// Placeholder mixin
@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
