// Typography
$sans-serif:            'Lato', $helvetica;
$serif:                 $georgia;
$base-font-family:      $sans-serif;
$heading-font-family:   $base-font-family;
$code-font-family:      Monaco, Consolas, "Andale Mone", "DejaVu Sans Mono", monospace;
$pre-font-family:       "Courier 10 Pitch", Courier, monospace;

// Font Sizes
$base-font-size: 18;
$h1-font-size: floor(modular-scale(6, $base-font-size, $major-second));
$h2-font-size: floor(modular-scale(5, $base-font-size, $major-second));
$h3-font-size: floor(modular-scale(4, $base-font-size, $major-second));
$h4-font-size: floor(modular-scale(3, $base-font-size, $major-second));
$h5-font-size: floor(modular-scale(2, $base-font-size, $major-second));
$h6-font-size: floor(modular-scale(1, $base-font-size, $major-second));

// Line height
$base-line-height:      1.625;
$heading-line-height:   1.25;

// Other Sizes
$base-border-radius:      3px;
$base-spacing:            $base-line-height * 1em;
$small-spacing:           $base-spacing / 2;
$content-spacing:         2em;
$content-spacing-half:    $content-spacing / 2;
$base-z-index:            0;

// Colors
$blue:            #477dca;
$dark-gray:       #333;
$medium-gray:     #999;
$light-gray:      #ddd;
$alt-gray:        #ccc;
$alt-light-gray:  #f5f5f5;
$alt-medium-gray: #e0e0e0;
$light-red:       #fbe3e4;
$light-yellow:    #fff6bf;
$light-green:     #e6efc2;

// Font Colors
$base-font-color:   $dark-gray;
$action-color:      $blue;

// Background Color
$base-background-color:   $alt-light-gray;
$nav-background-color:    $action-color;
$alt-background-color:    #fff;
$pre-background-color:    #eee;
$ins-background-color:    #fff9c0;

// Link Colors
$base-link-color:     $action-color;
$hover-link-color:    darken($action-color, 15);
$main-nav-link-color: lighten($action-color, 15);
$base-button-color:   $base-link-color;
$hover-button-color:  $hover-link-color;

// Flash Colors
$alert-color:   $light-yellow;
$error-color:   $light-red;
$notice-color:  lighten($action-color, 40);
$success-color: $light-green;

// Border color
$base-border-color: lighten($light-gray, 5);
$base-border:       1px solid $base-border-color;
$abbr-border-color: #666;

// Screen Reader Colors
$screen-background: #f1f1f1;
$screen-text:       #21759b;

// Forms
$form-box-shadow:         inset 0 1px 1px rgba(#000, 0.06);
$form-box-shadow-focus:   $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Screen sizes
$smallest-screen: 320px;
$smaller-screen:  480px;
$small-screen:    810px;
$medium-screen:   1023px;
$large-screen:    1180px;

// Breakpoints
$smallest-screen-up: new-breakpoint(min-width $smallest-screen  4);
$smaller-screen-up:  new-breakpoint(min-width $smaller-screen   6);
$small-screen-up:    new-breakpoint(min-width $small-screen    12);
$medium-screen-up:   new-breakpoint(min-width $medium-screen   12);
$large-screen-up:    new-breakpoint(min-width $large-screen    12);
